.hero-banner{
    background-color: #271066;
    color: #fff;
    width: 100%;
}
.hero-banner-container{
    margin: 0 auto;
    max-width: 1400px;
    position: relative;
    width: 100%;
}
.hero-banner-text-container{
    margin-left: 100px;
    max-width: 560px;
    padding: 90px 20px;
    position: relative;
    z-index: 3;
}
.hero-banner-text-container h1{
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 13px;
}
.build-skills-text{
    font-family: OpenSans,Arial,sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 33px;
}
.hero-banner-text-container button{
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    background-color: #fff;
    border-radius: 2px;
    border: 0 solid transparent;
    color: #2a73cc;
    font-size: 20px;
    outline: none;
    padding: 23px 48px;
    transition: background-color .2s ease,color .2s ease;
}
.hero-banner-background-gradinent{
    background: linear-gradient(90deg,#271066,rgba(39,16,102,0) 85%,rgba(39,16,102,0) 0,#271066);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.hero-banner-background-image{
    background-image: url("./images//robot-girl.jpg");
    background-position: 50%;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.hero-banner-text-container>button:hover{
    color: #fff;
    background-color: #2a73cc;
}

@media screen and (max-width: 991px){
    .hero-banner-text-container{
        margin: 0 auto;
        padding: 60px 20px 45px;
        text-align: center;
    }
    .hero-banner-background-image {
        background-position: 65% 50%;
        opacity: .34;
    }
    .hero-banner-text-container>button{
        border-radius: 5px;
        font-size: 16px;
        line-height: 16px;
    }
    .hero-banner-text-container>button:hover {
        color: #fff;
        background-color: #2a73cc;
    }
}