.quality-container{
    margin-top: 132px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.quality-container>h2{
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 92px;
    padding: 0 20px;
    text-align: center;
    margin: 0;
}
.quality-container-list{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    padding: 0 20px;
}
.text{
    margin-right: 48px;
    max-width: 382px;
    width: 100%;
}
.label{
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    color: #666;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
}
.text>h3{
    font-family: OpenSans,Arial,sans-serif;
    color: #1f1f1f;
    line-height: 32px;
    font-size: 24px;
    max-width: 340px;
}
.seprator{
    background-color: #2a73cc;
    height: 2px;
    margin-bottom: 15px;
    margin-top: 14px;
    width: 69px;
}
.text>p{
    font-size: 16px;
    font-family: OpenSans,Arial,sans-serif;
    color: #1f1f1f;
    line-height: 32px;
    margin-bottom: 10px;
}
.link{
    color: #1f1f1f;
    font-weight: 700;
    text-decoration: none;
}
.link:hover{
    color: #2a73cc;
}
.image-right{
    margin-right: -85px;
}
.image-wrap{
    position: relative;
    width: 100%;
}
.image-caption{
    font-family: OpenSans,Arial,sans-serif;
    font-weight: 700;
    background-color: rgba(0,0,0,.67);
    bottom: 38.43537%;
    color: #fff;
    font-size: 12px;
    left: 26.18705%;
    line-height: 19px;
    max-width: 250px;
    padding: 14px 12px 12px;
    position: absolute;
    width: 61.58273%;
    z-index: 1;
}
.image-container{
    position: relative;
    width: 695px;
    padding-bottom: 84.6043%;
    height: 0px;
}
.image-container>img{
    max-width: 695px;
    max-height: 588px;
    vertical-align: middle;
    border: 0;
}
.accessible-container{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    padding: 0 20px;
}
/* .accessible-image{
    margin-left: -110px;
} */
.accessible-image-wrap{
    position: relative;
    width: 336px;
    padding-bottom: 104.167%;
    height: 0px;
}
.accessible-image-wrap>img{
    max-width: 336px;
    max-height: 350px;
}
.learning-image-right{
    margin-right: -134px;
}
.learning-image-container{
    position: relative;
    width: 820px;
    padding-bottom: 67.6829%;
    height: 0px;
}
.learning-image-container>img{
    max-width: 820px;
    max-height: 555px;
}
.sharable-certi{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.sharable-image{
    margin-left: -226px;
}
.sharable-image-wrap{
    position: relative;
    width: 446px;
    padding-bottom: 76.4574%;
    height: 0px;
}
.sharable-image-wrap>img{
    max-width: 446px;
    max-height: 341px;
}

@media screen and (max-width: 1000px){
    .quality-container-list{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .text{
        margin: 0 0 30px;
    }
    .image-right{
        margin: 0;
    }
    .accessible-container{
        flex-direction: column;
        margin-bottom: 40px;
    }
    .accessible-image-wrap>img{
        width: 100%;
    }
    .image-container>img{
        width: 100%;
    }
    .learning-image-container>img{
        width: 100%;
    }
    .sharable-image-wrap>img{
        width: 100%;
    }
    .accessible-image{
        margin: 0;
        order: 2;
    }
    .accessible-text{
        order: 1;
    }
    .learning-image-right{
        margin: 0;
    }
    .sharable-certi{
        flex-direction: column;
    }
    .sharable-image{
        margin: 0;
        order: 2;
    }
    .sharable-text{
        order: 1;
    }
}
@media screen and (max-width: 1136px){
    .text{
        max-width: 350px;
    }
}
@media (max-width: 608px){
    .accessible-image-wrap{
        width: 90vw;
    }
    .image-container{
        width: 90vw;
    }
    .learning-image-container{
        width: 90vw;
    }
    .sharable-image-wrap{
        width: 90vw;
    }
}
@media (max-width: 824px){
    .accessible-image-wrap{
        width: 95vw;
    }
    .image-container{
        width: 95vw;
    }
    .learning-image-container{
        width: 95vw;
    }
    .sharable-image-wrap{
        width: 95vw;
    }
}

